body { margin: 0; }

svg,container,canvas,heatmapiframe{
  position:absolute;
    width:100%;
    height:100%;
    margin: 0;
    border:0 ;

}
polygon{fill:orange;
        stroke:1;
        opacity:0.4;
        stroke-width:10;
}
path {
  pointer-events: all;
  fill: none;
  stroke: red;
  stroke-opacity: 0.2;

}



#graphdiv {
  position: absolute;
  left: 0px;
}

.links line {
  stroke: #999;
  stroke-opacity: 0.6;

}

.nodes circle {
  stroke: #fff;
  stroke-width: 1.5px;
}
